.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.CategoriasLaterales {
  font-size: 20px;
  color: white;
  text-shadow: 0.1rem 0.1rem 0.1rem #282c34;
}
.CategoriasLaterales:hover {
  font-size: 21px;
  color: rgb(0, 84, 253);
  background-color: aliceblue;
  text-shadow: 0rem 0rem 0rem #558bf8;
}
.rating {
  text-shadow: 0.05rem 0.05rem 0.05rem #5d626a;
}
.cardProducto:hover {
  background-color: #24deff41;
  padding: 3%;
  transition: 0.3s;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
